<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserProfile</key>
	<dict>
		<key>userID</key>
		<string></string>
		<key>currentGameScore</key>
		<integer>0</integer>
		<key>lastGameScore</key>
		<integer>0</integer>
		<key>highestGameScoreToday</key>
		<integer>0</integer>
		<key>highestGameScoreThisWeek</key>
		<integer>0</integer>
		<key>highestGameScoreAllTime</key>
		<integer>0</integer>
	</dict>
	<key>GameState</key>
	<dict>
		<key>currentDifficultyTier</key>
		<integer>1</integer>
		<key>availableCoins</key>
		<integer>0</integer>
		<key>availableEnergy</key>
		<integer>5</integer>
		<key>availableItem0</key>
		<integer>1</integer>
		<key>availableItem1</key>
		<integer>1</integer>
		<key>availableItem2</key>
		<integer>1</integer>
	</dict>
	<key>Difficulty</key>
	<array>
		<dict>
			<key>tier</key>
			<integer>1</integer>
			<key>flowerTypeLevel</key>
			<integer>1</integer>
			<key>customerPatience</key>
			<integer>1</integer>
			<key>customerRequirementType</key>
			<integer>1</integer>
			<key>customerRequirementCount</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>tier</key>
			<integer>2</integer>
			<key>flowerTypeLevel</key>
			<integer>8</integer>
			<key>customerPatience</key>
			<integer>1</integer>
			<key>customerRequirementType</key>
			<integer>1</integer>
			<key>customerRequirementCount</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>tier</key>
			<integer>3</integer>
			<key>flowerTypeLevel</key>
			<integer>10</integer>
			<key>customerPatience</key>
			<integer>1</integer>
			<key>customerRequirementType</key>
			<integer>1</integer>
			<key>customerRequirementCount</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>GameObjects</key>
	<dict>
		<key>GameItem</key>
		<array>
			<dict>
				<key>itemName</key>
				<string>timeBooster</string>
				<key>duration</key>
				<integer>10</integer>
				<key>itemImageName</key>
				<string>NB_Item_time_203x64.png</string>
			</dict>
			<dict>
				<key>itemName</key>
				<string>lifeBooster</string>
				<key>duration</key>
				<integer>1</integer>
				<key>itemImageName</key>
				<string>NB_Item_life_203x64.png</string>
			</dict>
			<dict>
				<key>itemName</key>
				<string>scoreBooster</string>
				<key>duration</key>
				<integer>10</integer>
				<key>itemImageName</key>
				<string>NB_Item_score_booster_203x64.png</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
